.grid-container {
            
            grid-template-columns: 3fr 2fr 2fr 2fr 2fr 1fr;
            grid-template-rows: repeat(19, 1fr);
            height: 120vh;
            gap: 10px;
            padding: 8px;
            box-sizing: border-box;
            background-color: #f0f0f0; 
        }
        .grid-item {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: bold;
            color: #ffffff; 
            border-radius: 10px;
            background-color: green;
            box-shadow: 0 4px 6px green;
            text-align: center; 
            line-height: 1;
        }
        .item-1 { grid-column: 1 /2; grid-row: 1 / span 28; } 
        .item-2 { grid-column: 2 /3; grid-row: 1 / span 11; }
        .item-3 { grid-column: 2/3 ; grid-row: 12 / span 17; }

        
        .item-4 { grid-column: 3 / 4; grid-row: 1 / span 7; }
        .item-5 { grid-column: 3 / 4; grid-row: 8/ span 8; }
        .item-6 { grid-column: 3 / 4; grid-row: 16 / span 13; }


        .item-7 { grid-column: 4 / 5; grid-row: 1 / span 6; }
        .item-8 { grid-column: 4 / 5; grid-row: 7 / span 6; }
        .item-9 { grid-column: 4 / 5; grid-row: 13 / span 6; }
        .item-10 { grid-column: 4 / 5; grid-row: 19 / span 10; }
        


        .item-11 { grid-column: 5 / 6; grid-row: 1 / span 4; }
        .item-12 { grid-column: 5 / 6; grid-row: 5 / span 4; }
        .item-13 { grid-column: 5 / 6; grid-row: 9 / span 4; }
        .item-14 { grid-column: 5 / 6; grid-row: 13 / span 4; }
        .item-15 { grid-column: 5 / 6; grid-row: 17 / span 4; }
        .item-16 { grid-column: 5 / 6; grid-row: 21/ span 8; }

        
        .item-17 { grid-column: 6 / 7; grid-row: 1 / span 2; }
        .item-18 { grid-column: 6 / 7; grid-row: 3 / span 2; }
        .item-19 { grid-column: 6 / 7; grid-row: 5 / span 2; }
        .item-20 { grid-column: 6 / 7; grid-row: 7 / span 2; }
        .item-21 { grid-column: 6 / 7; grid-row: 9 / span 2; }
        .item-22 { grid-column: 6 / 7; grid-row: 11/ span 2; }
        .item-23 { grid-column: 6 / 7; grid-row: 13 / span 2; }
        .item-24 { grid-column: 6 / 7; grid-row: 15 / span 2; }
        .item-25 { grid-column: 6 / 7; grid-row: 17 / span 2; }
        .item-26 { grid-column: 6 / 7; grid-row:19 / span 3; }
        .item-27 { grid-column: 6 / 7; grid-row: 22 / span 3; }
        .item-28 { grid-column: 6 / 7; grid-row: 25 / span 4; }